// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// <div class="progress-bar show-item" style="--progressValue: 40"></div>

.progress-bar {
  display: flex;
  height: 10px;
  border-radius: 10px;
  background: var(--color-8);
  @media (max-width: 1200px) {
    font: 400 12px / calc(15 / 12 * 100%) "DMSans";
    height: 5px;
  }
  &:not(:last-child) {
  margin-bottom: 8rem;
  }
  position: relative;
  span {
    left: 0;
  }

  span,
  &:after {
    position: absolute;
    top: -20px;
    color: var(--color-14);
    letter-spacing: 0.2px;
  }  

  &:before {
      content: "";
      width: calc(var(--progressValue) * 1%);
      transition: width var(--transition-2);
      background: var(--color-5);
      border-radius: 10px;
  }  
  &:after {
      content: counter(value)"%";        
      counter-reset: value var(--progressValue);
      right: 60px;
      // transform: translate(-50%,-50%);    
      @media (max-width: 1200px) {
        right: 0;
      } 
  }
}