// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// variables

:root {

  //        Light                    300    
  //        Regular (Normal)         400    
  //        Medium                   500    
  //        Semi-bold                600    
  //        Bold                     700    
  //        Extra-bold               800    
  //        Black                    900    

  // font
  --font-1: 400 15px / calc(20 / 15 * 100%) "DMSans";
  --font-2: 700 28px / calc(38 / 28 * 100%) "Lato";
  --font-3: 300 16px / calc(31 / 16 * 100%) "Lato";
  --font-4: 400 26px / calc(38 / 26 * 100%) "Lato";
  --font-5: 700 35px / calc(38 / 35 * 100%) "Lato";
  --font-6: 700 45px / calc(62 / 45 * 100%) "Lato";
  --font-7: 400 17px / calc(22 / 17 * 100%) "DMSans";
  --font-8: 500 14px / 140% "averta";
  --font-9: 300 20px / calc(31 / 20 * 100%) "Lato";
  --font-10: 700 22px / calc(40 / 22 * 100%) "Lato";
  --font-11: 700 39px / calc(38 / 39 * 100%) "Lato";
  --font-12: 600 29px / calc(35 / 29 * 100%) "Lato";
  --font-13: 400 22px / calc(29 / 22 * 100%) "DMSans";
  --font-14: 700 30px / calc(36 / 30 * 100%) "Lato";
  --font-15: 300 20px / calc(35 / 20 * 100%) "Lato";
  --font-16: 400 20px / calc(35 / 20 * 100%) "Lato";
  @media (max-width: 1366px) {
    --font-2: 700 24px / calc(34 / 24 * 100%) "Lato";
    --font-4: 400 20px / calc(31 / 20 * 100%) "Lato";
    --font-6: 700 20px / calc(20 / 20 * 100%) "Lato";
    --font-10: 700 14px / calc(20 / 14 * 100%) "Lato";
    --font-11: 700 30px / calc(38 / 30 * 100%) "Lato";
  }
  @media (max-width: 1200px) {
    --font-9: 300 15px / calc(25 / 15 * 100%) "Lato";
    --font-14: 700 25px / calc(30 / 25 * 100%) "Lato";
    --font-15: 300 15px / calc(25 / 15 * 100%) "Lato";
  }
  @media (max-width: 768px) {
    
  }
  @media (max-width: 480px) {
    --font-11: 700 24px / calc(30 / 24 * 100%) "Lato";
  }

  // transition
  --transition-1: 0.3s;
  --transition-2: 0.5s;

  // background
  --background-1: center/cover no-repeat;
  --background-2: center/cover fixed;
  --background-3: right 5px top 50%/2rem no-repeat;

  --spoilerMedia: 992px;

  // color
  --color-1: #FFFFFF;
  --color-2: #000000;
  --color-3: #009D9D;
  --color-4: #1E2833;
  --color-5: #FEC83D;
  --color-6: #EBE9E9;
  --color-7: #EBEBEB;
  --color-8: #C4C4C4;
  --color-9: #3C2C2C;
  --color-10: #C84B04;
  --color-11: #E6E6E6;
  --color-12: #5E4DCD;
  --color-13: #051B7E;
  --color-14: #A4660A;
  --color-15: #FEC83D;
  --color-16: #858C94;
  --color-17: #EBEBEB;
  --color-18: #F9F9F9;

  --twitter: #1da1f2;
  --facebook: #3b5998;
  --instagram: #833ab4;

  // clip path
  --triangle: polygon(0 0, 50% 100%, 100% 0);
  --cross-5: polygon(0 45%, 45% 45%, 45% 0, 55% 0, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0 55%);

  // cross
  --cross: linear-gradient(45deg, var(--cross-color-2) 45%, var(--cross-color-1) 46%, var(--cross-color-1) 55%, var(--cross-color-2) 56%),
          linear-gradient(-45deg, var(--cross-color-2) 45%, var(--cross-color-1) 46%, var(--cross-color-1) 55%, var(--cross-color-2) 56%);
  --cross-color-1: brown;
  --cross-color-2: transparent;

   // plus
  --plus: linear-gradient(0deg, var(--plus-color-2) 45%, var(--plus-color-1) 46%, 
                                  var(--plus-color-1) 55%, var(--plus-color-2) 56%),
          linear-gradient(90deg, var(--plus-color-2) 45%, var(--plus-color-1) 46%,
                                  var(--plus-color-1) 55%, var(--plus-color-2) 56%);
  --plus-color-1: gold;
  --plus-color-2: transparent;

  // minus
  --minus: linear-gradient(0deg, var(--minus-color-2) 45%, var(--minus-color-1) 46%, var(--minus-color-1) 55%, var(--minus-color-2) 56%);
  --minus-color-1: gold;
  --minus-color-2: transparent;

}

// :root.dark-theme {}