<ul class="what">
  <li class="what__item">
    <a class="what__item-image responsive-1 hover-img" href="#">
      <img src="img/what-1.jpg" loading="lazy" width="352" height="250" alt="image">
    </a>
    <div class="what__item-information">
      <p class="what__item-label">Logo Design</p>
      <p class="what__item-text">Need a quality, custom logo? Our team will create a stunning, original design for you that will make your business stand out from the ...</p>
      <a  href="#">Learn More</a>
    </div>
  </li>

  <li class="what__item">
    <a class="what__item-image responsive-1 hover-img" href="#">
      <img src="img/what-2.jpg" loading="lazy" width="352" height="250" alt="image">
    </a>
    <div class="what__item-information">
      <p class="what__item-label">Logo Design</p>
      <p class="what__item-text">Need a quality, custom logo? Our team will create a stunning, original design for you that will make your business stand out from the ...</p>
      <a  href="#">Learn More</a>
    </div>
  </li>

  <li class="what__item">
    <a class="what__item-image responsive-1 hover-img" href="#">
      <img src="img/what-3.jpg" loading="lazy" width="352" height="250" alt="image">
    </a>
    <div class="what__item-information">
      <p class="what__item-label">Logo Design</p>
      <p class="what__item-text">Need a quality, custom logo? Our team will create a stunning, original design for you that will make your business stand out from the ...</p>
      <a  href="#">Learn More</a>
    </div>
  </li>

  <li class="what__item">
    <a class="what__item-image responsive-1 hover-img" href="#">
      <img src="img/what-4.jpg" loading="lazy" width="352" height="250" alt="image">
    </a>
    <div class="what__item-information">
      <p class="what__item-label">Logo Design</p>
      <p class="what__item-text">Need a quality, custom logo? Our team will create a stunning, original design for you that will make your business stand out from the ...</p>
      <a  href="#">Learn More</a>
    </div>
  </li>

  <li class="what__item">
    <a class="what__item-image responsive-1 hover-img" href="#">
      <img src="img/what-5.jpg" loading="lazy" width="352" height="250" alt="image">
    </a>
    <div class="what__item-information">
      <p class="what__item-label">Logo Design</p>
      <p class="what__item-text">Need a quality, custom logo? Our team will create a stunning, original design for you that will make your business stand out from the ...</p>
      <a  href="#">Learn More</a>
    </div>
  </li>

</ul>